<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./favicon.ico" sizes="any">
  <title>Статистика</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content">

    <header class="header">
      <div class="wrapper header__wrapper">
        <div class="header__logo-line">
          <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
              <span></span>
            </label>
            <ul class="menu__box">
              <a href="index.html" class="navigation__link">
                <li class="navigation__link-item">Главная</li>
              </a>
              <a href="textbook.html" class="navigation__link">
                <li class="navigation__link-item">Учебник</li>
              </a>
              <a href="audio-challenge.html" class="navigation__link">
                <li class="navigation__link-item">Аудиовызов</li>
              </a>
              <a href="sprint.html" class="navigation__link">
                <li class="navigation__link-item">Спринт</li>
              </a>
              <a href="statistics.html" class="navigation__link">
                <li class="navigation__link-item navigation__link-item--active">Статистика</li>
              </a>
              <a href="about.html" class="navigation__link">
                <li class="navigation__link-item">О нас</li>
              </a>
            </ul>
          </div>
          <a href="index.html" class="logo">
            <div class="logo__wrapper">
              <div class="logo__image"></div>
              <h1>RSLang</h1>
            </div>
          </a>
        </div>
        <nav class="header__navigation">
          <ul class="navigation">
            <a href="index.html" class="navigation__link">
              <li class="navigation__link-item">Главная</li>
            </a>
            <a href="textbook.html" class="navigation__link">
              <li class="navigation__link-item">Учебник</li>
            </a>
            <a href="audio-challenge.html" class="navigation__link">
              <li class="navigation__link-item">Аудиовызов</li>
            </a>
            <a href="sprint.html" class="navigation__link">
              <li class="navigation__link-item">Спринт</li>
            </a>
            <a href="statistics.html" class="navigation__link">
              <li class="navigation__link-item navigation__link-item--active">Статистика</li>
            </a>
            <a href="about.html" class="navigation__link">
              <li class="navigation__link-item">О нас</li>
            </a>
          </ul>
        </nav>
        <div class="header__buttons">
          <a class="button_login" href="registration.html">
            <div id='registration' class="button button_white div-button"><span class ='hidden_span' >Регистрация </span><i class="fa-solid fa-user-plus hidden_awe"></i></div>
          </a>
          <a class="button_login" href="login.html">
            <div class="button button_colored div-button" id = 'loginButton'>Вход</div>
          </a>

        </div>
      </div>
    </header>
    <section class="about__container">
      <div class="wrapper statistic__wrapper" id="about__wrapper">
        <h2 class="about__header">Статистика</h2>
        <h3>Дневная</h3>
        <div class="statistic__container statistic__container--games">
          <div class="statistic__item">
            <div class="statistic__image"><i class="fa-solid fa-volume-high"></i></div>
            <div class="statistic__text">
              <h4 class="statistic__header">Аудиовызов</h4>
              <div class="list__container">
                <ul class="statistic__list list__container--left">
                  <li class="list__container--item">Слов изучено:</li>
                  <li class="list__container--item">Правильных ответов:</li>
                  <li class="list__container--item">Самая длинная серия:</li>
                </ul>
                <ul class="statistic__list list__container--right">
                  <li class="list__container--item" id = "statAudioLearned">0</li>
                  <li class="list__container--item" id = "statAudioSuc">0</li>
                  <li class="list__container--item" id = "statAudioSer">0</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="statistic__item">
            <div class="statistic__image"><i class="fa-solid fa-clock"></i></div>
            <div class="statistic__text">
              <h4 class="statistic__header">Спринт</h4>
              <div class="list__container">
                <ul class="statistic__list list__container--left">
                  <li class="list__container--item">Слов изучено:</li>
                  <li class="list__container--item">Правильных ответов:</li>
                  <li class="list__container--item">Самая длинная серия:</li>
                </ul>
                <ul class="statistic__list list__container--right">
                  <li class="list__container--item" id = "statSprintLearned">0</li>
                  <li class="list__container--item" id = "statSprintSuc">0</li>
                  <li class="list__container--item" id = "statSprintSer"></li>
                </ul>
              </div>
            </div>
          </div>

      </div>
      <div class="statistic__container statistic__container--main">
        <div class="statistic__item ">
          <div class="statistic__image"><i class="fa-solid fa-book"></i></div>
          <div class="statistic__text">
            <h4 class="statistic__header">Общая</h4>
            <div class="list__container">
              <ul class="statistic__list list__container--left">
                <li class="list__container--item">Новых слов:</li>
                <li class="list__container--item">Слов изучено:</li>
                <li class="list__container--item">Правильных ответов:</li>
              </ul>
              <ul class="statistic__list list__container--right">
                <li class="list__container--item" id = "statAllLearned">0</li>
                <li class="list__container--item" id = "statAllSuc">0</li>
                <li class="list__container--item" id = "statAllSer">0</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    <footer class="footer">
      <div class="wrapper footer__wrapper">
        <div class="footer-navigation layout-3-column">
          <div class="footer-navigation__column">
            <h4 class="footer-navigation__title">©2022 RSLang</h4>
          </div>
          <div class="footer-navigation__column">
            <a href="https://rs.school/" class="logo-footer">
              <div class="logo-object">
              </div>
            </a>

          </div>
          <div class="footer-navigation__column">
            <div class="footer__link">
              <i class="fa-brands fa-github-alt"></i>
              <div><a class="person-link" href="https://github.com/S4mm4ael">S4mm4el</a></div>
              <div><a class="person-link" href="https://github.com/Sammily">Sammily</a></div>
              <div><a class="person-link" href="https://github.com/Tanik-sam">Tanik-sam</a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>