<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аудиовызов</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="content">
        <header class="header">
            <div class="wrapper header__wrapper">
                <div class="header__logo-line">
                    <span class="header__hamburger hamburger"><span class="hamburger__line"></span></span>
                    <a href="#" class="logo">
                        <div class="logo__wrapper">
                            <div class="logo__image"></div>
                            <h1>RSLang</h1>
                        </div>
                    </a>
                </div>
                <nav class="header__navigation">
                    <ul class="navigation">
                        <a href="index.html" class="navigation__link">
                            <li class="navigation__link-item">Главная</li>
                        </a>
                        <a href="textbook.html" class="navigation__link">
                            <li class="navigation__link-item">Учебник</li>
                        </a>
                        <a href="#" class="navigation__link">
                            <li class="navigation__link-item">Игры</li>
                        </a>
                        <a href="#" class="navigation__link">
                            <li class="navigation__link-item">Статистика</li>
                        </a>
                    </ul>
                </nav>
                <div class="header__buttons">
                    <button id='login' class="button button_white">Регистрация</button>
                    <button class="button button_colored">Вход</button>
                </div>
            </div>
        </header>
        <section class="audio-challenge__container">
            <div class="wrapper" id="audio-challenge__wrapper">
            </div>
        </section>
        <footer class="footer">
            <div class="wrapper footer__wrapper">
                <div class="footer-navigation layout-3-column">
                    <div class="footer-navigation__column">
                        <h4 class="footer-navigation__title">©2022 RSLang</h4>
                    </div>
                    <div class="footer-navigation__column">
                        <a href="#" class="logo-footer">
                            <div class="logo-object">
                            </div>
                        </a>
                    </div>
                    <div class="footer-navigation__column">
                        <div class="footer__link">
                            <i class="fa-brands fa-github-alt"></i>
                            <div><a class="person-link" href="https://github.com/S4mm4ael">S4mm4el</a></div>
                            <div><a class="person-link" href="https://github.com/Sammily">Sammily</a></div>
                            <div><a class="person-link" href="https://github.com/Tanik-sam">Tanik-sam</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>