$color-primary: rgba(116, 185, 255, 0.5);
$color-additional: #E17055;
$color-additional_hovered: #a75743;
$color-white_hovered: #c7c6c6;
$color-dark:#2F281E;
$color-light: #E5E5E5;
$color-dark_blue: #004171;
$color-light_red: #ff405d;
$color-light_blue: #0072c2;

$font_serif: Georgia, 'Times New Roman', Times, serif;
$font_sansserif: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;