$color-primary: rgba(116, 185, 255, 0.5);
$color-primary-pink: rgba(253, 121, 168, 0.5);
$color-additional: #E17055;
$color-additional_hovered: #a75743;
$color-white_hovered: #c7c6c6;
$color-dark:#2F281E;
$color-light: #E8ECED;
$color-dark_blue: #004171;
$color-light_red: #ff405d;
$color-light_blue: #0072c2;
$color-violett: #A29BFE;
$color-blue: #0984E3;
$color-gray: #B2BEC3;
$font_serif: Georgia, 'Times New Roman', Times, serif;
$font_sansserif: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
$color-ivory-light: rgba(255, 234, 167, 0.5);
$color-ivory: rgba(255, 234, 167, 0.7);
$color-light-pearch:rgba(250, 177, 160, 0.7);
$color-pearch: rgba(255, 118, 117, 0.7);
$color-dark-pink: rgba(253, 121, 168, 0.7);
$color-blue-transp: rgba(9, 132, 227, 0.7);
$color-green:rgba(0, 184, 148, 0.7);
$color-violett-hover: #6763a3;
$color-blue-hover: #05538f;
$color-ivory-light-hover: rgba(206, 189, 136, 0.5);
$color-ivory-hover: rgba(236, 210, 131, 0.7);
$color-light-pearch-hover:rgba(180, 127, 116, 0.7);
$color-pearch-hover: rgba(180, 81, 81, 0.7);
$color-dark-pink-hover: rgba(150, 69, 97, 0.7);
$color-blue-transp-hover: rgba(3, 84, 146, 0.7);
$color-green-hover:rgba(2, 129, 104, 0.7);

$content-width: 1300px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;