@mixin media-laptop {
    @media (max-width: $content-width) {
        @content;
    }
}

@mixin media-tablet {
    @media (max-width: $tablet-width) {
        @content;
    }
}

@mixin media-mobile {
    @media (max-width: $mobile-big-width) {
        @content;
    }
}

@mixin media-mobilesmall {
    @media (max-width: $mobile-small-width) {
        @content;
    }
}

@mixin columns ($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >* {
        flex-basis: $width;
    }
}
