<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>О нас</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content">

    <header class="header">
      <div class="wrapper header__wrapper">
        <div class="header__logo-line">
          <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
              <span></span>
            </label>
            <ul class="menu__box">
              <a href="index.html" class="navigation__link">
                <li class="navigation__link-item navigation__link-item--active">Главная</li>
              </a>
              <a href="textbook.html" class="navigation__link">
                <li class="navigation__link-item">Учебник</li>
              </a>
              <a href="audio-challenge.html" class="navigation__link">
                <li class="navigation__link-item">Аудиовызов</li>
              </a>
              <a href="sprint.html" class="navigation__link">
                <li class="navigation__link-item">Спринт</li>
              </a>
              <a href="statistics.html" class="navigation__link">
                <li class="navigation__link-item">Статистика</li>
              </a>
              <a href="about.html" class="navigation__link">
                <li class="navigation__link-item">О нас</li>
              </a>
            </ul>
          </div>
          <a href="index.html" class="logo">
            <div class="logo__wrapper">
              <div class="logo__image"></div>
              <h1>RSLang</h1>
            </div>
          </a>
        </div>
        <nav class="header__navigation">
          <ul class="navigation">
            <a href="index.html" class="navigation__link">
              <li class="navigation__link-item navigation__link-item--active">Главная</li>
            </a>
            <a href="textbook.html" class="navigation__link">
              <li class="navigation__link-item">Учебник</li>
            </a>
            <a href="audio-challenge.html" class="navigation__link">
              <li class="navigation__link-item">Аудиовызов</li>
            </a>
            <a href="sprint.html" class="navigation__link">
              <li class="navigation__link-item">Спринт</li>
            </a>
            <a href="statistics.html" class="navigation__link">
              <li class="navigation__link-item">Статистика</li>
            </a>
            <a href="about.html" class="navigation__link">
              <li class="navigation__link-item">О нас</li>
            </a>
          </ul>
        </nav>
        <div class="header__buttons">
          <a class="button_login" href="registration.html">
            <div id='registration' class="button button_white div-button"><span class ='hidden_span' >Регистрация </span><i class="fa-solid fa-user-plus hidden_awe"></i></div>
          </a>
          <a class="button_login" href="login.html">
            <div class="button button_colored div-button" id = 'loginButton'>Вход</div>
          </a>

        </div>
      </div>
    </header>
    <section class="about__container">
      <div class="wrapper about__wrapper" id="about__wrapper">
        <h2 about__header>Над проектом работали</h2>
        <div class="members__container">
          <div class="members__item">
            <div class="item__image item__image--0"></div>
            <div class="item__text">
              <h3>Татьяна Самойлович</h3>
              <p>Много хорошего</p>
            </div>
          </div>
            <div class="members__item">
              <div class="item__image"></div>
              <div class="item__text">
                <h3>Дарья Усова</h3>
                <p>Много хорошего</p>
              </div>
            </div>
              <div class="members__item">
                <div class="item__image item__image--2"></div>
                <div class="item__text">
                  <h3>Семён Крапивин</h3>
                  <p>Дизайн</p>
                </div>
              </div>
        </div>

      </div>
    </section>
    <footer class="footer">
      <div class="wrapper footer__wrapper">

        <div class="footer-navigation layout-3-column">
          <div class="footer-navigation__column">
            <h4 class="footer-navigation__title">©2022 RSLang</h4>
          </div>
          <div class="footer-navigation__column">
            <a href="https://rs.school/" class="logo-footer">
              <div class="logo-object">
              </div>
            </a>

          </div>
          <div class="footer-navigation__column">
            <div class="footer__link">
              <i class="fa-brands fa-github-alt"></i>
              <div><a class="person-link" href="https://github.com/S4mm4ael">S4mm4el</a></div>
              <div><a class="person-link" href="https://github.com/Sammily">Sammily</a></div>
              <div><a class="person-link" href="https://github.com/Tanik-sam">Tanik-sam</a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>