.about__container{
  display: flex;
    width: 100%;
    min-height: calc(100vh - 145px);
  h3{
    color: #000;
  }

}
.about__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 1000px;
  font-weight: 600;
}
.members {
		&__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
		}

		// .members__item

		&__item {
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      border-radius: 10px;
      width: 100%;
      display: flex;
      padding: 1rem;
      gap: 30px;
		}
}
.item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @include screen900 {
      flex-wrap: wrap;
  }
		// .item__image

		&__image {
      flex-shrink: 0;
      height: 200px;
      width: 200px;
      border-radius: 100px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      background-image: url("./assets/img/about_1.jpg");
      background-size:cover;
      background-repeat: no-repeat;
		&--2{
      background-image: url("./assets/img/about_2.jpg");
    }
    &--0{
      background-image: url("./assets/img/about_0.jpg");
    }
    }

		// .item__text

		&__text {
      display: flex;
      flex-direction: column;
      max-width:700px;
      gap: 20px;
		}
}
.name__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  .person-link{
    display: flex;
    align-items: center;
    transition: .3s;
    &:hover{
      filter: invert(46%) sepia(37%) saturate(1001%) hue-rotate(323deg) brightness(111%) contrast(76%);
      color: rgb(255, 2, 2);
    }
  }
}