.features {
    padding: 2rem 0;
    @include media-tablet {
        text-align: center;
    }
}
.feature {
    min-height: 17rem;
}

.features__title {
    margin: 0 0 0.2rem;
}

.features__description {
    margin: 0 0 0.5rem;
}

.features__tags {
    margin-bottom: 0.5rem;
    @include media-tablet {
        justify-content: center;
    }
}
.feature__link {
    text-decoration: none;
    color: $color-dark;
}
.fa-book, .fa-volume-high, .fa-clock, .fa-chart-line {
    font-size: 2rem;
    color:$color-light_red;
    @extend %transition;
    &:hover {
        color: $color-light_blue;
        transform: scale(1.2);
    }
}
.feature-wrapper {
    >* {
        margin-bottom: 1.8rem;
        @include media-tablet {
            flex-basis: 48%;
        }
        @include media-mobile {
            flex-basis: 100%;
        }
    }
}

.feature {
    padding-top: 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    @extend %transition;
    &:hover {
        background: $color-primary;
        transform: scale(1.1);
    }
    @include media-tablet {
        overflow: hidden;
        padding-top: 200px;
    }
}

.feature__content {
    padding: 0.4rem 1rem 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.feature__name {
    text-align: center;
    flex-grow: 1;
    color: $color-light_blue;
}

.feature__image {
    @include media-tablet {
        position: absolute;
        top: 0;
    }
}
