.overlay {
    z-index: 9999;
    position: fixed;
    background-color: $color-overlay;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-window {
    position: relative;
    padding: 2rem;
    border-radius: 10px;
    background-color: $color-primary;
    width: 30%;
    top: 14vw;
    min-height: 500px;
    max-height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-window__img>.fa-user{
    font-size: 10rem;
    color: white;
}

.modal-window__info {
    text-align: center;
    margin: auto;
    @extend %font-prim;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.2rem;
    color: $color-dark;
}
.modal-window_name {
    margin-bottom: 3rem;
    margin-top: 2rem;
    color: white;
}
