.navigation {
    display: flex;
    font-size: 1.5rem;
    line-height: 2rem;
}
.navigation__link{
    text-decoration: none;
    color: $color-dark;
    font-family: $font_sansserif;
    font-size: 1.2rem;
    font-weight: 600;
}
.navigation__link-item {
    list-style: none;
    padding: 0 10px;
    cursor: pointer;
    @extend %transition;
    &:hover {
        color: $color-additional;
    }
    &--active{
      color: #fff;
    }
}
.header__navigation {
    @include media-tablet {
        display: none;
    }
}
.crumbs {
  display: flex;
  padding: 0 20px;
  max-width: fit-content;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  &__item {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    transition: .3s;
    &:hover{
      
      color: $color-additional;
    }
  &--active{
    cursor: default;
    color: $color-additional;

  }
  &--black{
    color: #000;

  }
  }
  div{
    font-size: 2rem;
  }
}

