.promo {
    padding: 2rem 0 2rem 0;
    overflow: hidden;
    @include screen1200 {
        padding: 1.2rem 0 1.2rem 0;
    }
}

.promo__wrapper {
    display: flex;
    justify-content: space-between;
    gap:8rem;
    align-items: center;
    @include screen1200 {
        gap:5rem;
    }
    @include screen900 {
        gap:2rem;
    }
    @include media-mobile {
        flex-direction: column-reverse;
        gap:0.5rem;
    }
}

.promo__content {
    @include media-tablet {
        padding-right: 0;
    }
    @include media-mobile {
        text-align: center;
        width: auto;
    }
}

.promo__title {
    margin: 0 0 30px;
}

.promo__buttons {
    display: flex;
    align-items: center;
    >* {
        margin-right: 44px;
        &:last-child {
            margin-right: 0;
        }
    }
    @include media-mobile {
        flex-direction: column;
        >* {
            margin-right: 0;
            margin-bottom: 26px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.promo__text {
    max-width: 30rem;
    margin: 0 0 2rem;
    
    @extend %font-add;
    font-size: 1.8rem;
    @include screen1200 {
        font-size: 1.5rem;
    }
    @include screen610 {
        max-width: 240px;
        font-size: 1.2rem;
    }
    @include media-tablet {
        width: 380px;
    }
    @include media-mobile {
        width: auto;
        max-width: 100%;
        font-size: 1.5rem;
        text-align: center;
    }
}

.promo__image {
    background-image: url('./assets/img/main_page.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 650px;
    height: 440px;
    margin: 1rem;
    @include screen1200 {
        width: 450px;
        height: 240px;
        margin: 0.6rem;
    }
    @include screen900 {
        min-width: 300px;
        min-height: 200px;
        margin: 0.6rem;
    }
    @include media-tablet {
        min-width: 200px;
        min-height: 150px;
        margin: 0.4rem;
    }
    @include media-mobile {
        max-width: 100%;
        margin-bottom: 16px;
    }
}
.block-shadowed {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.promo__setence{
    @extend %font-prim;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    color: $color-dark;
    span{
      font-weight: 600;
    }
    @include screen1200 {
        font-size: 1rem;
    }
    @include media-tablet {
        max-width: 350px;
    }
    @include screen610 {
        max-width: 240px;
        font-size: 1rem;
    }
    @include media-mobile {
        max-width: 100%;
        font-size: 1.1rem;
        text-align: center;
    }
}
.main__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: calc(100vh - 145px);
}