h2,
h3{
  cursor: default;
}

.statistic {
 &__wrapper{
  
  display: flex;
  flex-direction: column;
  align-items: center;
 }
  &__container {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    cursor: default;
    gap: 20px;
    &--main{
      
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  &__header {
    color: #0072C2;
    text-align: center;
    font-size: 24px;
    cursor: default;
  }

  &__item {
    max-height: 400px;
    max-width: 470px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    height: 296px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 2    0px;
  }

  &__image {
    height: 32px;
    width: 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
  }
}
.list {
  
  &__container {
    display: flex;
    flex-direction: row;
    gap: 40px;
  &--item{
    font-size: 1.2rem;
  }
  }
  &__container--left {
    min-width: 220px;
  }
  &__container--right {
    justify-content: space-around;
  }
  
}