<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="content">
      <header class="header">
        <div class="wrapper header__wrapper">
            <div class="header__logo-line">
                <span class="header__hamburger hamburger"><span class="hamburger__line"></span></span>
                <a href="index.html" class="logo">
                    <div class="logo__wrapper">
                        <div class="logo__image"></div>
                        <h1>RSLang</h1>
                    </div>
                </a>
            </div>
            <nav class="header__navigation">
                <ul class="navigation">
                    <a href="index.html" class="navigation__link">
                        <li class="navigation__link-item">Главная</li>
                    </a>
                    <a href="textbook.html" class="navigation__link">
                        <li class="navigation__link-item">Учебник</li>
                    </a>
                    <a href="audio-challenge.html" class="navigation__link">
                        <li class="navigation__link-item">Аудиовызов</li>
                    </a>
                    <a href="sprint.html" class="navigation__link">
                      <li class="navigation__link-item">Спринт</li>
                  </a>
                    <a href="statistics.html" class="navigation__link">
                        <li class="navigation__link-item">Статистика</li>
                    </a>
                    <a href="about.html" class="navigation__link">
                      <li class="navigation__link-item">О нас</li>
                    </a>
                </ul>
            </nav>
            <div class="header__buttons">
                <a class = "button_login" href="registration.html"><div id='login' class="button button_white div-button">Регистрация</div></a>
                <a class = "button_login" href="login.html"><div class="button button_colored div-button">Вход</div></a>
            </div>
        </div>
    </header>
    
    <div class="registration__container">
      <div class="crumbs">
        <a href="index.html" class="crumbs__item crumbs__item--black"> Главная </a>
        <div>•</div>
        <a href="#" class="crumbs__item crumbs__item--active"> Регистрация </a>
      </div>
      <section class="registration block-shadowed">
        <div class="wrapper">
            <div class = "registration-form">
                <h2 class="registration__title">Регистрация</h2>
                <p class="registration__setence">*Регистрация позволит использовать все возможности приложения</p>
                <div class="registration__input"><i class="fa-solid fa-user"></i><input class="registration__name input-box" type="text" placeholder ="Как вас зовут?"/></div>
                <span class="incorrect incorrect_name"></span>
                <div class="registration__input"> <i class="fa-solid fa-envelope"></i><input class="registration__email input-box" type="email" placeholder ="Ваш e-mail"/></div>
                <span class="incorrect incorrect_email"></span>
                <div class="registration__input"><i class="fa-solid fa-key"></i><input class="registration__password input-box" type="password" placeholder ="Пароль"/></div>
                <span class="incorrect incorrect_password"></span>
                <div class="registration__input"><i class="fa-solid fa-key"></i><input class="registration__confirm input-box" type="password" placeholder ="Подтвердите пароль"/></div>
                <span class="incorrect incorrect_confirm"></span>
                <a class = "string-link" href="login.html">Я уже зарегистрирован!</a>
                <button id = "registr2" class="button button_colored">Зарегистрироваться</button>
            </div>
        </div>
    </section>
    </div>
        
        <footer class="footer">
            <div class="wrapper footer__wrapper">

                <div class="footer-navigation layout-3-column">
                    <div class="footer-navigation__column">
                        <h4 class="footer-navigation__title">©2022 RSLang</h4>
                    </div>
                    <div class="footer-navigation__column">
                        <a href="#" class="logo-footer">
                            <div class="logo-object">
                            </div>
                        </a>

                    </div>
                    <div class="footer-navigation__column">
                        <div class="footer__link">
                            <i class="fa-brands fa-github-alt"></i>
                            <div><a class="person-link" href="https://github.com/S4mm4ael">S4mm4el</a></div>
                            <div><a class="person-link" href="https://github.com/Sammily">Sammily</a></div>
                            <div><a class="person-link" href="https://github.com/Tanik-sam">Tanik-sam</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <template id="modal">
        <div class="overlay">
            <div class="modal-window">
                <div class="modal-window__info">
                    <div class="modal-window__img"><i class="fa-solid fa-user"></i></div>
                    <h2 class="modal-window_name"></h2>
                    <p3 class="modal-window_text">Вы успешно зарегистрированы!</p>
                    <a class = "button_login" id="exit" href="index.html"><div class="button button_colored div-button">Отлично!</div></a>
                </div>
            </div>
    </template>
</body>

</html>